<!DOCTYPE html>
<html>
<head>
  <title>main</title>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="assets/js/moment.js"></script>

  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<<<<<<< HEAD
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src = "/assets/js/users.js"></script>
</head>
<body background="/assets/images/background.jpg">
=======
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body background-image="../public/assets/images/background.jpg">
>>>>>>> 93bdba9a9130d91563320eb866b13a42b8a4605f

  {{{body}}}

</body>
</html>