<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Placeholder Name</a>
</nav><br><br><br><br>

<div class="container">
  <div class="jumbotron">
    <h1 class="animated flash">Add Movie</h1><br>

    <form>
      <div class="form-group">
        <label for="moviename" class="animated flash">Movie Name:</label>
        <input type="moviename" class="form-control" id="inputmoviename" placeholder="Enter username">
      </div>

      <div class="form-group">
        <label for="Release Year" class="animated flash">Year</label>
        <input type="releaseyear" class="form-control" id="inputyear" placeholder="enter the release year">
      </div><br>

      <button type="getInfo" id="getInfo" class="btn btn-info">Get Info</button>
    </form><br><br>
    
    {{!-- <h6 class="animated flash"><a id="link" href="#">Not a member? Click here to sign up!</a></h6> --}}
  </div>