  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">Theatre Management Admin Page</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/adminlanding">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="#">Add a Movie</a></li>
      </ul>
      <ul class = "navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="glyphicon glyphicon-user">{{username}}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
      </ul>
    </div>
  </nav><br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <div class="row"><h1 class="animated flash">Search for Movie Information</h1></div><br>
        <div class="row">
          <form>
            <div class="form-group">
              <label for="movietitle">Movie Title:</label>
              <input type="text" class="form-control" id="movietitle" placeholder="Enter Title">
            </div>

            <br><button id="getinfobutton" class="btn btn-info">Get Info</button>
          </form>
        </div>
      </div>

      <div class="col-sm-2">
        <img src="#" id="movieposterhere">
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-5">
        <ul class="list-group" id="movieinfohere">
        </ul><br>
        <button id="addbutton" class="btn btn-info animated flash">Add</button>
        <button id="schedulebutton" class="btn btn-info animated flash">Schedule</button>
      </div>

    </div><br>

    <div class="row">
      <div class="col-sm-1"></div>
      
      <div class="col-sm-4">
        <div id="addmoviesection">
          <h1 id="movietoadd"></h1><br>
          <form>
            <div class="form-inline">
              <label for="screenselect">Select Screen:</label>
              <select id="screenselect" class="form-control" style="width: auto">
                <option>1</option>
                <option>2</option>
              </select>
            </div><br>

            <div class="form-group">
              <label for="startselect endselect">Select Dates:</label>
              <input id="startselect" type="date">
              <input id="endselect" type="date">
            </div><br>

            <button id="checkschedulebutton" class="btn btn-info animated flash">Check Schedule</button>
          </form>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-5">
        <div id="scheduletable">
          <table class="table table-bordered">
            <thead><tr>
                <th>Date</th>
                <th>9:00am</th>
                <th>2:00pm</th>
                <th>6:00pm</th></tr>
            </thead>
            <tbody id="newtablerowshere">
            </tbody>
          </table>
          
          <button id="submitschedule" class="btn btn-info animated flash">Confirm Schedule</button>
        </div>
      </div>

    </div>
  </div>
