  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Theatre Management Admin Page</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/adminlanding">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="#">Add a Movie</a></li>
      </ul>
    </div>
  </nav><br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <div class="row"><h1 class="animated flash">Add a Movie</h1></div><br>
        <div class="row">
          <form>
            <div class="form-group">
              <label for="movietitle">Movie Title:</label>
              <input type="text" class="form-control" id="movietitle" placeholder="Enter Title">
            </div>
{{!--             <div class="form-group">
              <label for="releaseyear">Release Year:</label>
              <input type="text" class="form-control" id="releaseyear" placeholder="Release Year">
            </div> --}}

            <br><button id="getinfobutton" class="btn btn-info">Get Info</button>
          </form>
        </div>
      </div>

      <div class="col-sm-2">
        <img src="#" id="movieposterhere">
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-5">
        <ul class="list-group" id="movieinfohere">
        </ul><br>
        <button id="addbutton" class="btn btn-info animated flash">Add</button>
        <button id="schedulebutton" class="btn btn-info animated flash">Schedule</button>
      </div>

    </div><br>

    <div class="row">
      <div class="col-sm-1"></div>
      
      <div class="col-sm-4">
        <div id="addmoviesection">
          <h1 id="movietoadd"></h1><br>
          <form>
            <div class="form-inline">
              <label for="screenselect">Select Screen:</label>
              <select id="screenselect" class="form-control" style="width: auto">
                <option>1</option>
                <option>2</option>
              </select>
            </div><br>

            <div class="form-group">
              <label for="startselect endselect">Select Dates:</label>
              <input id="startselect" type="date">
              <input id="endselect" type="date">
            </div><br>

            <button id="checkschedulebutton" class="btn btn-info animated flash">Check Schedule</button>
          </form>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-5">
        <div id="scheduletable">
          <table class="table table-bordered">
            <thead><tr>
                <th>Date</th>
                <th>9:00am</th>
                <th>2:00pm</th>
                <th>6:00pm</th></tr>
            </thead>
            <tbody id="newtablerowshere">
            </tbody>
          </table>
          
          <button id="submitschedule" class="btn btn-info animated flash">Confirm Schedule</button>
        </div>
      </div>

    </div>
  </div>

  <script>
    function reset() {
      $("#scheduletable").hide();
      $("#addbutton").hide();
      $("#schedulebutton").hide();
      $("#addmoviesection").hide();
    }

    function createTable(screen, start, end, data) {
      $("#newtablerowshere").empty();
      var startDate = new Date(start);
      var endDate = new Date(end);
      for (var i = startDate; i <= endDate; i = new Date(i.setDate(i.getDate() + 1))) {
        var currdate = (i.getMonth() + 1) + "-" + (i.getDate() + 1) + "-" +  i.getFullYear();
        var time1 = $("<button>").attr("class", "sche btn btn-default").attr("data-date", currdate).attr("data-time", 1).attr("data-screen", screen).text(currdate + " 9:00am");
        var time2 = $("<button>").attr("class", "sche btn btn-default").attr("data-date", currdate).attr("data-time", 2).attr("data-screen", screen).text(currdate + " 2:00pm");
        var time3 = $("<button>").attr("class", "sche btn btn-default").attr("data-date", currdate).attr("data-time", 3).attr("data-screen", screen).text(currdate + " 6:00pm");
        data.forEach(function(e) {
          var nextdate = new Date(e.date)
          var nextdate1 = ((nextdate.getMonth() + 1) + "-" + (nextdate.getDate() + 1) + "-" +  nextdate.getFullYear());
          if (nextdate1 === currdate && e.Screen.id === parseInt(screen)) {
            switch (e.showtimeId) {
              case 1:
                time1 = $("<h3>").text(e.Movie.title);
                break;
              case 2:
                time2 = $("<h3>").text(e.Movie.title);
                break;
              case 3:
                time3 = $("<h3>").text(e.Movie.title);
                break;
            }
          }
        })
        var newrow = $("<tr>")
        var tablestart = $("<td>").text((i.getMonth() + 1) + "-" + (i.getDate() + 1) + "-" +  i.getFullYear());
        var tabletime1 = $("<td>").html(time1);
        var tabletime2 = $("<td>").html(time2);
        var tabletime3 = $("<td>").html(time3);
        newrow.append(tablestart, tabletime1, tabletime2, tabletime3);
        $("#newtablerowshere").append(newrow);
      }
      enable();
    }

    var globalTitle;
    var globalreleaseYear;
    var globalMovieId;

    $("#getinfobutton").on("click", function(event) {
      event.preventDefault();
      reset();
      $("#movieinfohere").empty();
      var movie = $("#movietitle").val().trim();
      $("#movietitle").val("")

      $.ajax({
        url: "https://www.omdbapi.com/?t=" + movie + "&y=&plot&apikey=40e9cece",
        method: "GET"
      }).done(function(response) {
        $("#movieposterhere").attr("src", response.Poster);
        var title = $("<li>").html("<h4>Title: " + response.Title + "</h4>");
        var runtime = $("<li>").html("<h4>Runtime: " + response.Runtime + "</h4>");
        var release = $("<li>").html("<h4>Release Date: " + response.Released + ", Rating: " + response.Rated + "</h4>");
        var genre = $("<li>").html("<h4>Genre: " + response.Genre);
        var actors = $("<li>").html("<h4>Actors: " + response.Actors + "</h4>");
        var plot = $("<li>").html("<h4>Plot: " + response.Plot + "</h4>");
        $("#movieinfohere").append(title, runtime, release, genre, actors, plot);
        $("#movietoadd").text("Scheduling " + response.Title).attr("class", "animated flash");
        globalTitle = response.Title;
        globalreleaseYear = response.Year;
        var added = false;
        $.get("theatre/api/movie/exists/" + (response.Title).toLowerCase(), function(data) {
          if (data.length > 0) {
            added = true
            if (added === true) {
              $("#schedulebutton").show();
            } else {
              $("#addbutton").show();
            }
          } else if (added === true) {
            $("#schedulebutton").show();
          } else {
            $("#addbutton").show();
          }
        })
      })
    })

    $("#addbutton").on("click", function(event) {
      event.preventDefault();
      $.post("/theatre/api/movie/", {title: globalTitle.toLowerCase(), releaseYear: globalreleaseYear}, function(data) {
      $("#addbutton").hide();
      $("#schedulebutton").show();
      })
    })

    $("#schedulebutton").on("click", function(event) {
      event.preventDefault();
      $("#addmoviesection").show();
      $.get("/theatre/api/movie/exists/" + globalTitle, function(data) {
        globalMovieId = data[0].MovieId;
      })
    })

    $("#checkschedulebutton").on("click", function(event) {
      event.preventDefault();
      var screen = $("#screenselect").val();
      var start = $("#startselect").val();
      var end = $("#endselect").val();
      var url = "/theatre/api/show/" + screen + "/" + start + "/" + end
      $.get(url, function(data) {
      createTable(screen, start, end, data);
      })
      $("#scheduletable").show();
    })

    function enable() {
      $(".sche").unbind("click").on("click", function(event) {
        event.preventDefault();
        if($(this).hasClass("btn-default")) {
          $(this).removeClass("btn-default");
          $(this).addClass("btn-danger");
        } else if($(this).hasClass("btn-danger")) {
          $(this).addClass("btn-default");
          $(this).removeClass("btn-danger");
        }
      })
    }

    $("#submitschedule").on("click", function(event) {
      event.preventDefault();

      $(".btn-danger").each(function() {
        var tempdate = $(this).attr("data-date");
        var temptime = $(this).attr("data-time");
        var tempscreen = $(this).attr("data-screen");
        $.get("theatre/api/movie/exists/" + globalTitle, function(data) {
          var tempobj = {MovieId: data[0].id, date: tempdate, showtimeId: temptime, screenId: tempscreen};
          $.post("/theatre/api/show", tempobj);
        })
          setTimeout(function() {location.reload()}, 200);
      })
    })

    reset();
  </script>