  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">Theatre Management Admin Page</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/adminadd">Add a Movie</a></li>
      </ul>
      <ul class = "navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
      </ul>
    </div>
  </nav><br><br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <div class="row">
          <h2 class="adminHeaders">Currently Showing</h2>
        </div>
        <div class="row">
          <ul class="list-group" id="current">

          </ul>
        </div><br>

        <div class="row">
          <h2 class="adminHeaders">Coming Soon</h2>
        </div>
        <div class="row">
          <ul class="list-group" id="comingsoon">

          </ul>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-7">
        <div id="adminLandingShowScreen">
          <div class="row">
            <h1 id="adminLandingScreenMovieTitle"></h1>
          </div><br>

          <h2 class="adminHeaders">Screen 1</h2>
          <div id="adminLandingScreen1">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><h3>Date</h3></th>
                  <th><h3>Time</h3></th>
                </tr>
              </thead>
              <tbody id="tableScreen1">
              </tbody>
            </table>
          </div><br>

          <h2 class="adminHeaders">Screen 2</h2>
          <div id="adminLandingScreen2">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><h3>Date</h3></th>
                  <th><h3>Time</h3></th>
                </tr>
              </thead>
              <tbody id="tableScreen2">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
