  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Theatre Management</a>
  </nav><br><br><br><br>

  <div class="container">
    <div class="jumbotron">
      <h1 class="animated flash">Sign Up!</h1><br>

      <form>
        <div class="form-group">
          <label for="username" class="animated flash">Username:</label>
          <input type="username" class="form-control" id="inputusername" placeholder="Enter username">
        </div>

        <div class="form-group">
          <label for="password" class="animated flash">Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Password">
        </div>

        <div class="form-group">
          <label for="password" class="animated flash">Verify Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Re-enter Password">
        </div><br>

        <button type="login" id="login" class="btn btn-info">Sign Up!</button>
      </form><br><br>
    </div>
  </div>