  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Theatre Management User Page</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="#">Shows</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Reservations</a></li>
      </ul>
    </div>
  </nav><br><br><br>

  <div class="container">
    <div class="row main-wrapper">
      <div class="col-md-12">
        <input id="date" data-date={{date}}>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 pageSections">
        <div class="row">
          <div class="col-md-12" id="movieDiv">
            <ul class="list-group shows">
              {{#each movies}}
              {{> movies/movie-block}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-5 pageSections" id="summaryDiv">
        <div class="row">
          <div class="col-md-12">
            <img id="cinema" src="/assets/images/cinema.jpg"></img>
          </div>
        </div>
      </div>

      <div class="col-md-4 pageSections">
        <div class="row">
          <div class="col-md-12" id="reservationDiv">
            <ul class="list-group shows">
              {{#each reservations}}
              {{> reservations/reservation-block}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

  <script>

  $(document).ready(function() {
    var selectedDate = $("#date").data("date");
    console.log("selectedDate", selectedDate);

    // var currentDate = moment(selectedDate, "YYYY-MM-DD").format("MM-DD-YYYY")
    // console.log(currentDate);
    // moment().format("MM-DD-YYYY");
    $("#date").val(selectedDate);

    $('#date').datepicker({
      todayHighlight: true,
      format: 'yyyy-mm-dd',
      startDate: '0',
      autoclose: true
    }).on('changeDate', function(e) {

      var dateSelected = $("#date").val().trim();
      // var dateFormatted = moment(dateSelected, "MM-DD-YYYY").format("YYYY-MM-DD");
      console.log(dateSelected);

      console.log(window.location.href);
      var windowUrl = window.location.href.split("?")[0];
      var url = windowUrl + "?date=" + dateSelected ;
      window.location.href = url;
    });

    // minDate: new Date(2017, 11, ),
    // dateFormat: "mm-dd-yy"

    function getShows(date){
      var dateFormatted = moment(date, "MM-DD-YYYY").format("YYYY-MM-DD");

      // $.get( "/theatre/api/show/" + dateFormatted);
      $.get( "/theatre/api/show/?date =" + dateFormatted , function(data) {
        console.log( data );
      });
    }  

    $("li.movie").on("click", function(event){
      var id = $(this).data("id");
      var title = $(this).data("title");
      console.log(id, title);
      
      $.ajax({
        url: "https://www.omdbapi.com/?t=" + title + "&y=&plot&apikey=40e9cece",
        method: "GET"
      }).done(function(response) {
        $("#summaryDiv").empty();
        var div = $("<div>");
        var img = $("<img id='poster'>").attr("src", response.Poster);
        div.append(img);
        $("#summaryDiv").append(div);
      });

      $.get( "/adminlanding" , function(data) {
      });

    });
  });

  </script