body {
  font-family: Arial;
<<<<<<< HEAD
=======
  /*color: ;*/
>>>>>>> 9d92c657332db7e80942c619c4cf031b182f32bb
}

.jumbotron {
  background: #0b7fae;
  margin: 7%;
  padding: 7%;
  opacity: .8;
}

#link {
  color: #C3E3F7;
}

.adminHeaders{
  font-family: 'Oswald', sans-serif;
}
