.shows{
  margin-top: 10px;
}

.main-wrapper{
  width: 85vw;
}

#poster{
  width: 200px;
  height: 200px;
}

.pageSections{
  width: 100%;
}

#cinema{
  width: 400px;
  height: 400px;
}

.space{
  margin-left: 15px;
}